anndata==0.8.0
Cython==0.29.24
genevector==0.0.1
leidenalg==0.8.8
llvmlite==0.38.0
matplotlib==3.4.3
networkx @ file:///opt/conda/conda-bld/networkx_1647437648384/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1634668519289/work
numba @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_croot-p56zvl1f/numba_1648040520212/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_10c245a1-1c81-453c-8b70-3e944787a8d9mo1xhesu/croots/recipe/numpy_and_numpy_base_1653915529188/work
pandas==1.4.3
pytorch-lightning==1.3.8
scanpy==1.9.1
scikit-learn @ file:///opt/concourse/worker/volumes/live/4bc3a643-30b5-4d0d-5ecd-04c737564a67/volume/scikit-learn_1614446665910/work
scikit-misc==0.1.4
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806788365/work
seaborn==0.11.2
sklearn==0.0
torch==1.11.0
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
umap==0.1.1
umap-learn @ file:///Users/runner/miniforge3/conda-bld/umap-learn_1622652233888/work
