anndata==0.8.0
Cython==3.0.0a10
llvmlite==0.38.0
matplotlib==3.4.3
networkx==2.8.5
notebook==7.0.0a5
numba==0.55.2
numpy==1.22.4
pandas==1.4.3
scanpy==1.9.1
scikit-learn==1.1.1
scikit-misc==0.1.4
scipy==1.8.1
seaborn==0.11.2
sklearn==0.0
torch==1.12.0
tqdm==4.64.0
umap-learn==0.5.3
gseapy==0.10.8
statsmodels==0.13.2
